/* --------------------------------------------------------------------
               			  E DEMEY
               		Main style-sheet
-------------------------------------------------------------------- */
@import 'vars.css';


/* ------------------------------ RESET ---------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, form, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

html {overflow-y: scroll; scroll-behavior: smooth;}

header, footer, main, nav, aside, article, section, figure, figcaption {
  display: block;
	margin: 0;
	padding: 0;
	border: 0;
}


/* ------------------------------ DEFAULTS ---------------------------- */
@font-face {
    font-family: 'quicksandbold';
    src: url('quicksand-bold-webfont.woff2') format('woff2'),
         url('quicksand-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandlight';
    src: url('quicksand-light-webfont.woff2') format('woff2'),
         url('quicksand-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandregular';
    src: url('quicksand-regular-webfont.woff2') format('woff2'),
         url('quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
	position: relative;
	font: 100%/1.2 var(--stack);
	color: var(--body-text);
	background-color: var(--body-bg);
}


h2, h3, h4, h5 {
	font-family: var(--stack-head);
	font-weight: normal;
}

h2 {
	font-size: calc(1.3em + 2vw);
	text-transform: lowercase;
}
h3 {font-size: 1.1em;}
h4 {font: 0.9em var(--stack-b);}

p, li, dt, dd, h5, th, td {font-size: 0.9em;}
li li, li p, li dt, li dd {font-size: 100%;}

a {color: var(--body-text);}
a:visited {opacity: 0.8;}

strong {
	font-family: var(--stack-b);
	font-weight: normal;
}
em {
	font-family: var(--stack-i);
	font-style: normal;
}

img {max-width: 100%; border: none;}

button {
	font: 100%/1 var(--stack-head);
	color: var(--text-inv);
	background-color: var(--secondary);
	padding: 0.5em 1em;
	border: none;
	cursor: pointer;
}
button:hover {background-color: var(--highc-color);}
button[disabled] {
	filter: grayscale(100%) opacity(40%);
	cursor: initial;
}

blockquote {
	position: relative;
	max-width: 30em;
	margin: 2rem 2rem 3rem 3rem;
}
	blockquote p {
		font: 1em/1.35 var(--stack-b);
		color: var(--link-color);
		background-color: var(--body-bg);
	}
	blockquote::before, blockquote::after {
		display: block;
		position: absolute;
		width: 0.5em;
		height: 0.5em;
		font: 72px var(--stack-head);
		color: rgba(0,0,0,0); /*IE*/
		color: var(--hot-color);
	}
	blockquote::before {
		content: "\0201C";
		top: -0.25em;
		left: -0.5em;
	}
	blockquote::after {
		content: "\0201D";
		bottom: -0.3em;
		right: 0;
	}


pre {
  overflow: auto;
  max-width: 60em;
  font-size: 1.2em;
  line-height: 1.2;
  color: var(--n-s-dark);
  background: var(--n-light);
  padding: 1em 1.5em;
  margin: 2em 0;
  opacity: .7;
}

/* ------------------------------ PAGE STRUCTURE ---------------------------- */

#container {
	max-width: 1440px;
	padding-bottom: 4rem;
	margin: 0 auto;
	border-top: 10px solid var(--n-dark);
}

main {
	margin: 0 5% 1rem;
}
	main > h2 {margin-bottom: 4vmax;}

footer {margin: 2rem 0;}
	footer p {
		font-size: 0.7em;
		text-transform: uppercase;
		text-align: center;
	}

/* --- HEADER --- */

#container > header {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 0 5% 2rem;
}


h1 {
	width: 45%;
	max-width: 250px;
	font: normal 1.2em var(--stack);
	text-align: center;
	text-transform: uppercase;
	margin: 0.7rem 0 1rem;
}
	h1 img {filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.5));}

div.about {
	text-align: left;
	margin: 0 5% 2rem 18vw;
}

div.about::after {
	display: block;
	content: "";
	width: 100%;
	height: 1px;
	background-image: linear-gradient(90deg, var(--body-bg), #333 42%, var(--body-bg));
	margin-top: 1rem;
}
	div.about p {
		line-height: 1.52;
	}
	div.about ul {
		margin-top: 1em;
		list-style: none;
	}

/* -------------------------- NAVIGATION ----------------------------- */

/* ----------------- SKIP LINKS ------------------ */

.skip {display: inline;}

	.skip a {
		position: absolute;
		overflow: hidden;
		left: -10000px;
		top: auto;
		width: 1px;
		height: 1px;
	}
	.skip a:focus {position: static; width: auto; height: auto;}

nav {
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: var(--n-dark);
	padding: 0.5rem 0;
	box-shadow: 0 -3px 12px 7px rgba(0,0,0,0.3);
	z-index: 10;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	justify-content: space-between;
	color: var(--text-inv);
	background-color: var(--n-dark);
	margin: 0 5%;
}

nav li {
	font-size: 0.95em;
	text-transform: lowercase;
}

nav a {
	display: block;
	text-decoration: none;
	color: var(--text-inv);
	background-color: var(--n-dark);
	padding: 0.5em 0.3em;
}

nav a[aria-current], nav a:hover, nav a:focus {
	color: var(--n-dark);
	background-color: var(--hot-color);
}

/* ----------------- ARTICLES ------------------------ */

.e-content {
	max-width: 45em;
}
.e-content  > p + p, .e-content  > li + li {margin-top: 0.8em;}

article.h-entry header {margin-bottom: 2rem;}
article.h-entry h2 {margin-bottom: 0;}
article.h-entry p.dt-published {font-size: 80%;}

div.p-summary {
	max-width: 25em;
	padding-left: 1rem;
	margin: 0 10% 2rem 5%;
	border-left: 4px solid var(--hot-color);
}

	div.p-summary p, article.h-entry h3 {
		font: calc(0.9em + 0.7vw)/1.52 var(--stack-b);
	}

article.h-entry h3, article.h-entry h4 {
	margin: 1.5em 0 1em;
}

article.h-entry p, article.h-entry li, article.h-entry h4 {
	font-size: calc(0.8em + 0.35vw);
	line-height: 1.52;
}

article.h-entry ul {
	margin: 1rem;
}

/* Entries */

div.list-of-articles article.h-entry h3 {
	font-size: calc(1em + 1.3vw);
	line-height: 1.3;
	margin-bottom: 0;
}
div.list-of-articles div.p-summary {
	max-width: 45em;
	padding-top: 1rem;
	margin-top: 1rem;
}
	div.list-of-articles div.p-summary p {
		font-family: var(--stack);
	}

/* Events */

div.list-of-events {margin-bottom: 2rem;}
div.list-of-events header {margin-bottom: 1rem;}
div.list-of-events h3 {margin-bottom: 1em;}

div.list-of-events h4 {
	font-size: 0.98em;
	margin-bottom: 0.25em;
}

div.list-of-events div.content p {
	font-size: 0.95em;
	line-height: 1.52;
}

div.event-entry {
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid var(--n-dark-medium);
}

p.picture {
	display: none;
}

lite-youtube {
	background-color: #000;
	position: relative;
	display: block;
	contain: content;
	background-position: center center;
	background-size: cover;
	cursor: pointer;
	max-width: 720px;
}

/* gradient */
lite-youtube::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
	background-position: top;
	background-repeat: repeat-x;
	height: 60px;
	padding-bottom: 50px;
	width: 100%;
	transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
    thanks https://css-tricks.com/responsive-iframes/
*/
lite-youtube::after {
	content: "";
	display: block;
	padding-bottom: calc(100% / (16 / 9));
}
lite-youtube > iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
}

/* play button */
lite-youtube > .lty-playbtn {
	width: 68px;
	height: 48px;
	position: absolute;
	cursor: pointer;
	transform: translate3d(-50%, -50%, 0);
	top: 50%;
	left: 50%;
	z-index: 1;
	background-color: transparent;
	/* YT's actual play button svg */
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 68 48"><path fill="%23f00" fill-opacity="0.8" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"></path><path d="M 45,24 27,14 27,34" fill="%23fff"></path></svg>');
	filter: grayscale(100%);
	transition: filter .1s cubic-bezier(0, 0, 0.2, 1);
	border: none;
}

lite-youtube:hover > .lty-playbtn,
lite-youtube .lty-playbtn:focus {
	filter: none;
}

/* Post-click styles */
lite-youtube.lyt-activated {
	cursor: unset;
}
lite-youtube.lyt-activated::before,
lite-youtube.lyt-activated > .lty-playbtn {
	opacity: 0;
	pointer-events: none;
}

.lyt-visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
