---
layout: layout.html
base: ./
category: articles
title: Articles
permalink: articles.html
---

<h2>Articles</h2>

<div class="list-of-articles">
  <article class="k-entry h-entry">
  	<h3 class="p-name"><a href="simply-exciting.html">A very very long title for this article that is cool</a></h3>
  	<p class="publish-date"><time class="dt-published" datetime="2019-03-11">March 11, 2019</time></p>
  	<div class="e-content p-summary">
  		<p>On February 2019, I had the outstanding privilege and honor
  			to be part of an amazing team celebrating the 30th anniversary of the web.</p>
  	</div>
  </article>

  <article class="k-entry h-entry">
  	<h3 class="p-name"><a href="simply-exciting.html">Simply Exciting</a></h3>
  	<p class="publish-date"><time class="dt-published" datetime="2019-03-11">March 11, 2019</time></p>
  	<div class="e-content p-summary">
  		<p>On February 2019, I had the outstanding privilege and honor
  			to be part of an amazing team celebrating the 30th anniversary of the web.</p>
  	</div>
  </article>

  <article class="k-entry h-entry">
  	<h3 class="p-name"><a href="simply-exciting.html">Simply Exciting</a></h3>
  	<p class="publish-date"><time class="dt-published" datetime="2019-03-11">March 11, 2019</time></p>
  	<div class="e-content p-summary">
  		<p>On February 2019, I had the outstanding privilege and honor
  			to be part of an amazing team celebrating the 30th anniversary of the web.</p>
  	</div>
  </article>
</div>
