---
layout: layout.html
base: ./
category: articles
title: Articles
permalink: articles.html
---

<h2>Articles</h2>

<div class="list-of-articles">
{%- for post in collections.blog -%}
  <article class="k-entry h-entry">
    	<h3 class="p-name"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
    	<p class="publish-date"><time class="dt-published" datetime="{{ post.data.datetime }}">{{ post.data.dateLiteral }}</time></p>
    	<div class="e-content p-summary">
    		<p>{{ post.data.abstract }}</p>
    	</div>
    </article>
{%- endfor -%}
</div>
