---
layout: layout.html
base: ./
category: events
title: Evénements
permalink: events.html
description: Vous trouverez sur cette page tous les événements auquels je participe.
---

<script src="/javascript/lite-yt-embed.js"></script>
<h2>Événements</h2>

<div class="list-of-events">
  <h3>Conférences / Podcasts</h3>
  <div class="event-entry">
    <header>
      <h4>Conférence - Eco-conception de service numérique</h4>
      <p class="event-data">BBL pour Decathlon - <time datetime="23-09-2022">23/09/2022</time></p>
    </header>
    <div class="content">
      <p>
        Nous passons nos journées à développer des applications dans le but de révolutionner le monde, résoudre des
        problèmes ou encore créer de nouveaux usages. Mais avons nous conscience de l'impact que cela peut avoir sur
        notre environnement ? Impact négatif ou positif d'ailleurs. Je suis malheureusement persuadé que non.
      </p>
      <p>
        Rejetant la faute du changement climatique à d'autres branches de notre économie, nous ne remettons jamais en
        questions l'impact de notre industrie, en forte croissance d'année en année.
      </p>
      <p>
        Après un état des lieux de l'impact du numérique sur l'environnement, je présenterai des solutions que vous
        pourriez envisager de mettre en place rapidement sur vos propres projets.
      </p>
    </div>
    <p class="picture">
      <img
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogosmarcas.net%2Fwp-content%2Fuploads%2F2020%2F12%2FDecathlon-Logo.png&f=1&nofb=1"
        alt=""
      />
    </p>
  </div>
  <div class="event-entry">
    <header>
      <h4>Conférence - L'accessibilité web, ou comment faire des applications web inclusives.</h4>
      <p class="event-data">BBL pour Worldline- <time datetime="13-09-2022">13/09/2022</time></p>
    </header>
    <div class="content">
      <p>
        Nous sommes tous des utilisateurs de sites ou d'applications web. Mais sommes nous tous égaux dans l'accès à
        cette information ? Utilisons-nous tous notre navigateur web de la même façon ? Bien évidemment que non.
      </p>
      <p>
        Que ca soit l'impossibilité de parcourir un site web ou encore de le comprendre, nous avons ou pouvons tous
        rencontrer des problèmes lorsque nous naviguons sur notre site web préféré.
      </p>
      <p>
        Durant cette conférence, nous allons présenter les enjeux de l'accessibilité dans le développement
        d'applications web. De la sémantique dans votre code HTML à la gestion du focus qui peut être compliqué dans
        certains composants riches, vous aurez à la fin une vision complète des problématiques à prendre en compte pour
        votre prochaine application.
      </p>
    </div>
    <p class="picture">
      <img src="https://www.freelogovectors.net/wp-content/uploads/2022/04/wordline_logo_freelogovectors.net_.png" alt="" />
    </p>
  </div>
  <div class="event-entry">
    <header>
      <h4>Conférence - Eco-conception de service numérique</h4>
      <p class="event-data">BBL pour Ippon Technologies- <time datetime="08-09-2022">08/09/2022</time></p>
    </header>
    <div class="content">
      <p>
        Nous passons nos journées à développer des applications dans le but de révolutionner le monde, résoudre des
        problèmes ou encore créer de nouveaux usages. Mais avons nous conscience de l'impact que cela peut avoir sur
        notre environnement ? Impact négatif ou positif d'ailleurs. Je suis malheureusement persuadé que non.
      </p>
      <p>
        Rejetant la faute du changement climatique à d'autres branches de notre économie, nous ne remettons jamais en
        questions l'impact de notre industrie, en forte croissance d'année en année.
      </p>
      <p>
        Après un état des lieux de l'impact du numérique sur l'environnement, je présenterai des solutions que vous
        pourriez envisager de mettre en place rapidement sur vos propres projets.
      </p>
    </div>
    <p class="picture">
      <img src="https://fdelbrayelle.github.io/images/ippon_new_logo.png" alt="" />
    </p>
  </div>
  <div class="event-entry">
    <header>
      <h4>Podcast - Les Briques du Web S01-E06</h4>
      <p class="event-data">
        <a href="https://www.twitch.tv/rdvspeakers"
          >Podcast Les Briques du Web - <time datetime="25-05-2021">25/05/2021</time></a
        >
      </p>
    </header>
    <div class="content">
      <p>
        Podcast d'une heure autour des nouveautés de l'écosystème Web. J'ai présenté la rubrique "L'outil de la semaine"
        autour du projet *Eleventy*.
      </p>
    </div>
    <p class="picture">
      <img src="https://pbs.twimg.com/profile_images/1369565728681168896/-IUwYZgB_400x400.png" alt="" />
    </p>
  </div>
  <div class="event-entry">
    <header>
      <h4>Podcast - Les Briques du Web S01-E05</h4>
      <p class="event-data">
        <a href="https://www.twitch.tv/rdvspeakers"
          >Podcast Les Briques du Web - <time datetime="11-05-2021">11/05/2021</time></a
        >
      </p>
    </header>
    <div class="content">
      <p>
        Podcast d'une heure autour des nouveautés de l'écosystème Web. J'ai présenté la rubrique "La Météo du Web" ainsi
        qu'une interview sur le GreenIT et le numérique responsable.
      </p>
      {% set videoTitle = "Les Briques du Web S01-E05" %} {% set videoId = "XAPbLbia7NE" %} {% include 'youtube.njk' %}
    </div>
    <p class="picture">
      <img src="https://pbs.twimg.com/profile_images/1369565728681168896/-IUwYZgB_400x400.png" alt="" />
    </p>
  </div>
  <div class="event-entry">
    <header>
      <h4>Podcast - Les Briques du Web S01-E04</h4>
      <p class="event-data">
        <a href="https://www.youtube.com/watch?v=sKcFFJ36VBM"
          >Podcast Les Briques du Web - <time datetime="27-04-2021">27/04/2021</time></a
        >
      </p>
    </header>
    <div class="content">
      <p>Podcast d'une heure autour des nouveautés de l'écosystème Web. J'ai présenté la rubrique "La Météo du Web".</p>
      {% set videoTitle = "Les Briques du Web S01-E04" %} {% set videoId = "m-i8f-a6K4Y" %} {% include 'youtube.njk' %}
    </div>
    <p class="picture">
      <img src="https://pbs.twimg.com/profile_images/1369565728681168896/-IUwYZgB_400x400.png" alt="" />
    </p>
  </div>
  <div class="event-entry">
    <header>
      <h4>Podcast - Les Briques du Web S01-E02</h4>
      <p class="event-data">
        <a href="https://www.youtube.com/watch?v=rI6xUkOnyB0"
          >Podcast Les Briques du Web - <time datetime="30-03-2021">30/03/2021</time></a
        >
      </p>
    </header>
    <div class="content">
      <p>Podcast d'une heure autour des nouveautés de l'écosystème Web. J'ai présenté la rubrique "La Météo du Web".</p>
      {% set videoTitle = "Les Briques du Web S01-E02" %} {% set videoId = "rI6xUkOnyB0" %} {% include 'youtube.njk' %}
    </div>
    <p class="picture">
      <img src="https://pbs.twimg.com/profile_images/1369565728681168896/-IUwYZgB_400x400.png" alt="" />
    </p>
  </div>
  <div class="event-entry">
    <header>
      <h4>Conférence - Recoil, un state management nouvelle génération</h4>
      <p class="event-data">
        <a href="https://www.youtube.com/watch?v=hfcm8pUrzp4"
          >React & React Native monthly Meetup - <time datetime="25-03-2021">25/03/2021</time></a
        >
      </p>
    </header>
    <div class="content">
      <p>
        Si vous êtes développeur React.JS, je pense qu'il n'y a pas trop de doute à se poser si vous lisez cet abstract,
        vous êtes surement à l'aise avec le concept de state management. Popularisé notamment grâce au pattern Redux et
        à la librairie React-redux, ce concept permet de centraliser la gestion de la donnée manipulée par notre
        application.
      </p>
      <p>
        La donnée ? Toute la donnée ? Malheureusement, dans la plupart des applications sur lesquelles j'interviens,
        c'est le cas. Nous avons pris l'habitude de tout centraliser au cas ou plusieurs composants auraient besoin de
        ces informations. Et bien évidemment, cela est rarement le cas.
      </p>
      <p>
        Nous avons tellement pris l'habitude de tout centraliser, qu'ajouter le support d'une nouvelle donnée nécessite
        la modification de plusieurs fichiers, afin d'implémenter les actions, le reducer ou encore les sélecteurs, ...
        Le coté structurant, que devait nous apporter ce genre de solution, a transformé notre application en un vrai
        plat de spaghetti, difficile à comprendre pour un novice.
      </p>
      <p>
        Depuis, d'autres solutions sont apparues, comme par exemple Mobx. Durant cette conférence, je souhaite vous
        présenter le tout dernier : Recoil. A travers un live coding et la découverte de ses entrailles, nous allons
        découvrir les avantages et les inconvénients de ce nouveau projet développé chez Facebook.
      </p>
      {% set videoTitle = "Recoil, un state management nouvelle génération" %} {% set videoId = "hfcm8pUrzp4" %} {%
      include 'youtube.njk' %}
    </div>
    <p class="picture">
      <img src="https://secure.meetupstatic.com/photos/event/6/b/4/8/highres_495087464.jpeg" alt="" />
    </p>
  </div>
  <div class="event-entry">
    <header>
      <h4>Podcast - Les Briques du Web S01-E01</h4>
      <p class="event-data">
        <a href="https://www.youtube.com/watch?v=czAx81Upp_U"
          >Podcast Les Briques du Web - <time datetime="16-03-2021">16/03/2021</time></a
        >
      </p>
    </header>
    <div class="content">
      <p>
        Podcast d'une heure autour des nouveautés de l'écosystème Web. Durant cet épisode, j'ai présenté l'outil de la
        semaine : <strong>Snowpack</strong>.
      </p>
      {% set videoTitle = "Les Briques du Web S01-E01" %} {% set videoId = "czAx81Upp_U" %} {% include 'youtube.njk' %}
    </div>
    <p class="picture">
      <img src="https://pbs.twimg.com/profile_images/1369565728681168896/-IUwYZgB_400x400.png" alt="" />
    </p>
  </div>
</div>

<!--div class="list-of-events">
  <h3>Formations/Workshops</h3>
  <div class="event-entry">
    <header>
      <h4>Nom du évenement</h4>
      <p class="event-data">Nom de la conf - <time datetime="11-11-2222">11/11/2222</time></p>
    </header>
    <div class="content">
      <p>Abstract du talk</p>
    </div>
    <p class="picture"><img src="images/webstories.jpg" alt="" /></p>
  </div>
  <div class="event-entry">
    <header>
      <h4>Nom du évenement</h4>
      <p class="event-data">Nom de la conf - <time datetime="11-11-2222">11/11/2222</time></p>
    </header>
    <div class="content">
      <p>Abstract du talk</p>
    </div>
    <p class="picture"><img src="images/webstories.jpg" alt="" /></p>
  </div>
</div-->
