---
layout: layout.html
base: ./
category: events
title: Evénements
permalink: events.html
---

<h2>Evénements</h2>

<div class="list-of-events">
  <h3>Conférences</h3>
  <div class="event-entry">
    <header>
      <h4>A History of the Web in 100 Pages</h4>
      <p class="event-data">Nom de la conf - <time datetime="11-11-2222">11/11/2222</time></p>
    </header>
    <div class="content">
      <p>As of 2020, estimates of the size of the Web put it at over half a trillion pages. So what can we learn of the Web's history in just a handful? In this presentation John will look at the prehistory and early history of the Web by examining a number of "pages" associated with that history. Which pages could be so significant? You'll have to tune in to find out!</p>
    </div>
    <p class="picture"><img src="images/webstories.jpg" alt="" /></p>
  </div>
  <div class="event-entry">
    <header>
      <h4>Nom du évenement</h4>
      <p class="event-data">Nom de la conf - <time datetime="11-11-2222">11/11/2222</time></p>
    </header>
    <div class="content">
      <p>Abstract du talk</p>
    </div>
    <p class="picture"><img src="images/webstories.jpg" alt="" /></p>
  </div>
</div>

<div class="list-of-events">
  <h3>Formations/Workshops</h3>
  <div class="event-entry">
    <header>
      <h4>Nom du évenement</h4>
      <p class="event-data">Nom de la conf - <time datetime="11-11-2222">11/11/2222</time></p>
    </header>
    <div class="content">
      <p>Abstract du talk</p>
    </div>
    <p class="picture"><img src="images/webstories.jpg" alt="" /></p>
  </div>
  <div class="event-entry">
    <header>
      <h4>Nom du évenement</h4>
      <p class="event-data">Nom de la conf - <time datetime="11-11-2222">11/11/2222</time></p>
    </header>
    <div class="content">
      <p>Abstract du talk</p>
    </div>
    <p class="picture"><img src="images/webstories.jpg" alt="" /></p>
  </div>
</div>
