---
layout: layout.html
base: ./
category: formations
title: Formations
permalink: formations.html
description: Vous trouverez sur cette page la liste des formations que je peux dispenser.
---

<h2>Formations</h2>

<!--div class="page-intro">
  <p>Je forme depuis.... j'ai déjà formé Axa, Decathlon....</p>
</div-->

<div class="list-of-trainings">
  <div class="t-entry">
    <div class="intro">
      <h3>Angular</h3>
      <p class="event-data">
        Angular est le framework qui propose une base solide pour le développement d'applications Web. Fort de son
        langage Typescript et de sa structuration, c’est la solution à favoriser pour des projets assez conséquents,
        développés par plusieurs développeur.se.s.
      </p>
    </div>
    <div class="content">
      <ol>
        <li>Présentation et initiation d’un projet Angular</li>
        <li>Dynamisation HTML</li>
        <li>Composants</li>
        <li>Directives</li>
        <li>Injection de Dépendances</li>
        <li>RxJS</li>
        <li>Gestion des formulaires</li>
        <li>Angular Router</li>
        <li>Outillage</li>
      </ol>
    </div>
    <p class="picture"><img src="images/angular2.svg" alt="" /></p>
  </div>

  <div class="t-entry">
    <div class="intro">
      <h3>Accessibilité Numérique</h3>
      <p class="event-data">
        Dans cette formation Accessibilité Numérique, nous aborderons tous les tenants et aboutissants de cette
        approche, afin de connaître tous les automatismes nécessaires pour développer une application Web accessible.
      </p>
    </div>
    <div class="content">
      <ol>
        <li>Introduction</li>
        <li>Web Sémantique</li>
        <li>Normes</li>
        <li>Référentiels</li>
        <li>Comment réaliser un audit</li>
        <li>Erreurs les plus courantes</li>
        <li>ARIA</li>
      </ol>
    </div>
    <p class="picture"><img src="images/accessibility2.svg" alt="" /></p>
  </div>

  <div class="t-entry">
    <div class="intro">
      <h3>Elasticsearch</h3>
      <p class="event-data">
        Elasticsearch est une solution open-source reconnue lorsque nous devons mettre en place une solution de moteur
        de recherche. Que ce soit pour proposer un simple champ de formulaire aux utilisateurs ou pour mettre en place
        une solution permettant d’observer l’état d’un système informatique, Elasticsearch vous propose le nécessaire
        pour y arriver.
      </p>
    </div>
    <div class="content">
      <ol>
        <li>Présentation de l’écosystème des moteurs de recherche</li>
        <li>Installation et Typologie d’un cluster Elasticsearch</li>
        <li>Indexation unitaire et multiple</li>
        <li>Mapping et Analyzer</li>
        <li>Recherches</li>
        <li>Agrégation</li>
        <li>Ingest Pipelines</li>
      </ol>
    </div>
    <p class="picture"><img src="images/elasticsearch2.svg" alt="" /></p>
  </div>

  <div class="t-entry">
    <div class="intro">
      <h3>React.js</h3>
      <p class="event-data">
        Nous ne présentons plus React.js. Solution phare pour faire des applications Web, cette librairie permet de
        développer rapidement des pages web dynamiques. Grace à sa simplicité de mise en œuvre mais également à son
        écosystème, l’expérience ressentie lors du développement d’une nouvelle application est fortement appréciée.
      </p>
    </div>
    <div class="content">
      <ol>
        <li>Présentation et initiation d’un projet React.js</li>
        <li>JSX</li>
        <li>Composants</li>
        <li>Hooks</li>
        <li>Gestion des formulaires</li>
        <li>React Router</li>
        <li>Context et Reducer</li>
        <li>React Redux et Redux Toolkit</li>
        <li>Outillage</li>
      </ol>
    </div>
    <p class="picture"><img src="images/react2.svg" alt="" /></p>
  </div>

  <div class="t-entry">
    <div class="intro">
      <h3>TypeScript</h3>
      <p class="event-data">
        TypeScript est un langage de plus en plus utilisé dans le développement d'applications Web. Quelques soit le
        framework utilisé, ce langage est souvent privilégié pour la phase de développement.
      </p>
    </div>
    <div class="content">
      <ol>
        <li>Présentation Générale</li>
        <li>Comment démarrer un projet ?</li>
        <li>Typage simple</li>
        <li>Classe et Interface</li>
        <li>Module</li>
        <li>Type et Enum</li>
        <li>Type Manipulation</li>
        <li>Décorateur</li>
      </ol>
    </div>
    <p class="picture"><img src="images/typescript2.svg" alt="" /></p>
  </div>

  <div class="t-entry">
    <div class="intro">
      <h3>Vue.js</h3>
      <p class="event-data">
        Depuis plusieurs années, Vue.js est devenue l’une des solutions les plus utilisées pour développer des Single
        Page Application. Grâce à sa simplicité de mise en œuvre mais également à son écosystème, l’expérience ressentie
        lors du développement d’une nouvelle application est fortement appréciée.
      </p>
    </div>
    <div class="content">
      <ol>
        <li>Présentation et initiation d’un projet Vue.js</li>
        <li>Dynamisation HTML</li>
        <li>Composants</li>
        <li>Composition API</li>
        <li>Gestion des formulaires</li>
        <li>Plugins</li>
        <li>Vue Router</li>
        <li>Pinia</li>
        <li>Outillage</li>
      </ol>
    </div>
    <p class="picture"><img src="images/vuejs2.svg" alt="" /></p>
  </div>
</div>
