<!doctype html>
<html lang="fr">
    <head>
        <title>Emmanuel Demey</title>
        <meta name="description" content="Emmanuel Demey - Consultant Web, Elasticsearch et GreenIT">

        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="Emmanuel Demey">
        <meta itemprop="description" content="Emmanuel Demey - Consultant Web, Elasticsearch et GreenIT">
        <meta itemprop="image" content="https://lorempixel.com/400/200/">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://nothing.com">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Emmanuel Demey">
        <meta property="og:description" content="Emmanuel Demey - Consultant Web, Elasticsearch et GreenIT">
        <meta property="og:image" content="https://lorempixel.com/400/200/">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Emmanuel Demey">
        <meta name="twitter:description" content="Emmanuel Demey - Consultant Web, Elasticsearch et GreenIT">
        <meta name="twitter:image" content="https://lorempixel.com/400/200/">
    </head>
    <body>
        <header>
            <h1>Emmanuel Demey</h1>
            <nav></nav>
        </header>
        <main></main>
        <footer></footer>
    </body>
</html>
