<!doctype html>
<html lang="fr">
    <head>
        <title>Emmanuel Demey</title>
    </head>
    <body>
        <header>
            <h1>Emmanuel Demey</h1>
            <nav></nav>
        </header>
        <main></main>
        <footer></footer>
    </body>
</html>
