---
layout: layout.html
base: ./
title: Plan du Site
permalink: plan.html
---

<h2>Plan du Site </h2>

<h3>Articles </h3>

<div class="list-of-articles">
{%- for post in collections.blog | reverse -%}
  <article class="k-entry h-entry">
    	<h3 class="p-name"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
    	<p class="publish-date"><time class="dt-published" datetime="{{ post.data.datetime }}">{{ post.data.dateLiteral }}</time></p>
    </article>
{%- endfor -%}
</div>

<h3>Autres Pages </h3>

<div class="list-of-articles">
{%- for post in collections.pages | reverse -%}
  <article class="k-entry h-entry">
    	<h3 class="p-name"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
    	<p class="publish-date"><time class="dt-published" datetime="{{ post.data.datetime }}">{{ post.data.dateLiteral }}</time></p>
    </article>
{%- endfor -%}
</div>