<!doctype html>
<html lang="fr">
    <head>
        <title>{{ title }}</title>
        <meta name="description" content="{{ description }}">

        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="{{ title }}">
        <meta itemprop="description" content="{{ description }}">
        <meta itemprop="image" content="https://lorempixel.com/400/200/">

        <!-- Facebook Meta Tags -->
        <meta property="og:url" content="https://nothing.com">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description }}">
        <meta property="og:image" content="https://lorempixel.com/400/200/">

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ description }}">
        <meta name="twitter:image" content="https://lorempixel.com/400/200/">
    </head>
    <body>
        <header>
            <h1>Emmanuel Demey</h1>
            <nav></nav>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer></footer>
    </body>
</html>
