<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ base }}img/favicon.png" />
    <title>{{ title }}</title>
    <!-- STYLESHEET -->
    <link href="{{ base }}css/main.css" rel="stylesheet" media="all" />
    <link href="{{ base }}css/queries.css" rel="stylesheet" media="all" />
    <!-- Here go your scripts -->
</head>

<body>

<div id="container">
    <header>
        <h1><img src="img/ed-logo.svg" alt="Emmanuel Demey" /></h1>
        <nav id="main-nav">
            <p class="skip"><a href="#wrapper">Navigation principale (Sauter le menu)</a></p>
            <ul>
                <li><a href="/" {% if category == 'home' %}aria-current="page"{% endif %}>
                    Home</a></li>
                <li><a href="articles.html" {% if category == 'articles' %}aria-current="page"{% endif %}>
                    Articles</a></li>
                <li><a href="events.html" {% if category == 'events' %}aria-current="page"{% endif %}>
                    Événement</a></li>
            </ul>
        </nav>
        {% if category == 'home' %}
        <div class="about">
            <p>Emmanuel Demey est développeur, consultant et formateur sur différentes problématiques liées au web.</p>
            <p>Soucieux de la qualité, de la performance et de l'accessibilité, il anime depuis plusieurs années de
                nombreuses conférences sur ces sujets.</p>
        </div>
        {% endif %}
    </header>

    <div id="wrapper">
        <main>
            {{ content }}
        </main>

        <footer>
            <p class="copyright">&copy; Emmanuel Demey, {% year %}</p>
        </footer>
    </div>
</div>
<p class="go-top"><a href="#container">Top</a></p>

{% if altscript %}
<script src="{{ base }}js/{{ altscript }}.js"></script>
{% endif %}
</body>
</html>
