---
import { getCollection } from "astro:content";
import Layout from "../layouts/MainLayout.astro";

const collection = await getCollection("blog");
const posts = collection.sort(
  (c1, c2) => c2.data.pubDate.getTime() - c1.data.pubDate.getTime(),
);
---

<Layout title="Articles">
  <h2>Articles</h2>

  <div class="list-of-articles">
    {
      posts.map((post) => {
        const date = post.data.pubDate ?? new Date();
        const dateTime = date.toISOString();
        const formattedDate = new Intl.DateTimeFormat("fr").format(date);

        return (
          <article class="k-entry h-entry">
            <h3 class="p-name">
              <a href={"blog/" + post.slug}>{post.data.title}</a>
            </h3>
            <p class="publish-date">
              <time class="dt-published" datetime={dateTime}>
                {formattedDate}
              </time>
            </p>
            <div class="e-content p-summary">
              <p>{post.data.description}</p>
            </div>
          </article>
        );
      })
    }
  </div>
</Layout>
