---
import { getCollection } from "astro:content";
import Layout from "../layouts/MainLayout.astro";
import EventBlock from "../components/Event.astro";

const collection = await getCollection("events");
const events = collection
  .filter((event) => event.data.type !== "Podcast")
  .sort((c1, c2) => c2.data.date.getTime() - c1.data.date.getTime())
  .filter((event) => !event.data.fullPage);

const podcasts = collection
  .filter((event) => event.data.type === "Podcast")
  .sort((c1, c2) => c2.data.date.getTime() - c1.data.date.getTime());
---

<Layout
  title="My Events"
  description="Events Emmanuel Demey has participated in"
  keywords="Conference, podcast, sharing, tech"
>
  <script src="//lite-yt-embed.js" is:inline></script>
  <h2>Events</h2>
  <div class="list-of-events">
    <h3>Conferences</h3>

    {events.map(async (event) => <EventBlock event={event} />)}

    <div class="list-of-events">
      <h3>Podcasts</h3>

      {podcasts.map(async (event) => <EventBlock event={event} />)}
    </div>
  </div>
</Layout>

<script>
  import "lite-youtube-embed";
</script>
